@model SalesManagement.Models.GeoViewModels.GeoViewModels
@{
    ViewData["Title"] = Resource.TitleProvince;
}
@using SM.Resources
@using SM.Common
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h3>@Resource.TitleProvince</h3>
    </div>
    <div class="col-lg-4">
        <div class="ibox-tools-page-heading">
            <button type="button" class="btn btn-default btn-sm" data-toggle="tab" href="#edit-form"><i class="fa fa-edit fa-lg"></i>&nbsp;<span class="bold">Add</span></button>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="tab" href="#filter-form"><i class="fa fa-filter fa-lg"></i>&nbsp;<span class="bold">Filter</span></button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="tab" href="#upload-form"><i class="fa fa-upload fa-lg"></i>&nbsp;<span class="bold">Upload</span></button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="tab" href="#tab-1"><i class="fa fa-download fa-lg"></i>&nbsp;<span class="bold">Export</span></button>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="wrapper-header tab-content">
        <div id="filter-form" class="row tab-pane active">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Resource.TitleUpload</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">select2_demo_1</label>
                                <div class="col-lg-4">
                                    <select class="select2_demo_1 form-control">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                    </select>
                                </div>
                                <label class="col-lg-2 control-label">select2_demo_2</label>
                                <div class="col-lg-4">
                                    <select class="select2_demo_2 form-control">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">select2_demo_3</label>
                                <div class="col-lg-4">
                                    <select class="select2_demo_3 form-control">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                    </select>
                                </div>
                                <label class="col-lg-2 control-label">select2_demo_4</label>
                                <div class="col-lg-4">
                                    <select class="select2_demo_4 form-control">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="upload-form" class="row tab-pane">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Resource.TitleUpload</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>Sign in today for more expirience.</p>
                        @using (Html.BeginForm("ImportProvince", "Geographic", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-4 fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput">
                                        <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
                                    </div>
                                    <span class="input-group-addon btn btn-default btn-file">
                                        <span class="fileinput-new">@Resource.SelectFile</span>
                                        <span class="fileinput-exists">@Resource.Change</span>
                                        <input type="file" name="Attachment">
                                    </span>
                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">@Resource.Remove</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-4">
                                    <div class="radio">
                                        <input type="radio" name="OptionImport" value="@OptionImport.IsAddUpdate" checked="checked">
                                        <label for="radio1">
                                            @Resource.Import_AddUpdate
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="OptionImport" value="@OptionImport.IsOnlyUpdate">
                                        <label for="radio2">
                                            @Resource.Import_OnlyUpdate
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="OptionImport" value="@OptionImport.IsOnlyAdd">
                                        <label for="radio1">
                                            @Resource.Import_OnlyAdd
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="OptionImport" value="@OptionImport.IsOnlyInactive">
                                        <label for="radio2">
                                            @Resource.Import_OnlyInactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-4">
                                    <button id="btnUpload" class="btn btn-sm btn-white" type="submit">@Resource.Upload</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-form" class="row tab-pane">
            
        </div>
    </div>
    
    <div id="list-result" class="row">
        @{Html.RenderPartial("ProvinceResultPartial", Model.ListResult);}
    </div>
</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_bower/codemirror/lib/codemirror.css" />
        <link rel="stylesheet" href="~/lib_bower/codemirror/theme/ambiance.css" />
        <link rel="stylesheet" href="~/lib_bower/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib_bower/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib_bower/select2/dist/css/select2.css" />
    </environment>
}
@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib_bower/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
        <script src="~/lib_bower/codemirror/lib/codemirror.js"></script>
        <link rel="stylesheet" href="~/lib_bower/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
        <script src="~/lib_bower/codemirror/mode/javascript/javascript.js"></script>
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib_bower/select2/dist/js/select2.js"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2();
            $(".select2_demo_4").select2();

            table = $('.dataTables-example').DataTable({
                lengthMenu: [[10, 20, 30, 50], [10, 20, 30, 50]],
                pageLength: 20,
                dom: '<"top"<"html5buttons"B> lp<"clear">>rt',
                language: {
                    lengthMenu: 'Phân Trang _MENU_ '
                },
                buttons: [
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });

        $('.toggle-vis').on('change', function (e) {
            e.preventDefault();

            // Get the column API object
            var column = table.column($(this).attr('data-column'));
            console.log(column);

            // Toggle the visibility
            column.visible(!column.visible());
        });

        //$('#btnUpload').click(function () {

        //    // Checking whether FormData is available in browser
        //    if (window.FormData !== undefined) {

        //        var fileUpload = $("#FileUpload1").get(0);
        //        var files = fileUpload.files;

        //        // Create FormData object
        //        var fileData = new FormData();

        //        // Looping over all files and add it to FormData object
        //        for (var i = 0; i < files.length; i++) {
        //            fileData.append(files[i].name, files[i]);
        //        }

        //        // Adding one more key to FormData object
        //        fileData.append('username', 'Manas');

        //        $.ajax({
        //            url: '/Home/UploadFiles',
        //            type: "POST",
        //            contentType: false, // Not to set any content header
        //            processData: false, // Not to process data
        //            data: fileData,
        //            success: function (result) {
        //                alert(result);
        //            },
        //            error: function (err) {
        //                alert(err.statusText);
        //            }
        //        });
        //    } else {
        //        alert("FormData is not supported.");
        //    }
        //});

    </script>
}