@model CMS.Common.Helpers.PagedData<CMSApplication.Areas.Administration.Models.ReviewModel>
<script type="text/javascript">
    $(document).ready(function () {
        $(".page-number").live("click", function () {
            var page = parseInt($(this).html());
            $.get("/Administration/ReviewsManagement/List?&page=" + page, function (data) {
                $(".list").html("");
                $(".list").html(data);
            });
        });
        $("a.delete").click(function () {
            var $this = $(this);
            var NameItem = $this.closest('tr').find('.spanName').html();
            if (confirm("Are you sure delete review : " + NameItem + "")) {
                var IdItem = $this.closest('tr').find('.Spanid').html();
                $.get("/Administration/ReviewsManagement/Delete?Id=" + IdItem, function () {
                    var page = parseInt($(".page-number-Current").html());
                    $.get("/Administration/ReviewsManagement/List?page=" + page, function (data) {
                        $(".list").html("");
                        $(".list").html(data);
                    });
                });
            }
        });

    });

</script>
@if (Model.Data.Count() > 0)
{
    <table class="table dataTable" style="width: 100%">
        <thead>
            <th width="150px">
                Name
            </th>
            <th>
                Description
            </th>
            <th width="50px" style="text-align:center">
                Published
            </th>
            <th width="50px">
                Action
            </th>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        <span class="Spanid" style="display: none;">@item.Id</span> <span class="spanName">@item.RestaurantName
                        </span>
                    </td>
                    <td>
                        <span>@MvcHtmlString.Create(item.Details)</span>
                    </td>
                    <td style="text-align:center">
                        <span>@Html.CheckBoxFor(x=>item.Published)</span>
                    </td>
                    <td>
                        <a title="Edit" href="@Url.Action("Edit", "ReviewsManagement", new { id=item.Id})" class="icon-pencil"></a>
                         <a title="Delete" href="javascript:void(0)" class="icon-trash delete"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="dataTables_paginate paging_full_numbers" id="tSortable_2_paginate">
        <span>
            @for (int m = 1; m <= Model.NumberOfPages; m++)
            {
                if (m == Model.CurrentPage)
                {
                <a href="javascript:void(0);" tabindex="0" class="paginate_active page-number-Current">@m</a>
                }
                else
                {
                <a class="paginate_button page-number" href="javascript:void(0);" tabindex="0">@m</a>
                }
            }
        </span>
    </div>
}
else
{
    <div class="error">
        <p class="text-error">
            Have not review</p>
    </div>
}
