@using CMS.Common.Helpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <link href="@Url.ContentArea("~/Content/css/stylesheets.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.ContentArea("~/Content/css/fullcalendar.print.css")" media="print" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/jquery/jquery.mousewheel.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/cookie/jquery.cookies.2.2.0.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/charts/jquery.flot.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/charts/jquery.flot.stack.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/charts/jquery.flot.pie.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/charts/jquery.flot.resize.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/sparklines/jquery.sparkline.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/fullcalendar/fullcalendar.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/select2/select2.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/uniform/uniform.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/maskedinput/jquery.maskedinput-1.3.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/validation/languages/jquery.validationEngine-en.js")" charset="utf-8"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/validation/jquery.validationEngine.js")" charset="utf-8"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/animatedprogressbar/animated_progressbar.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/qtip/jquery.qtip-1.0.0-rc3.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/pnotify/jquery.pnotify.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/cleditor/jquery.cleditor.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/dataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins/fancybox/jquery.fancybox.pack.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/cookies.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/actions.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/charts.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/plugins.js")"></script>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/js/fileuploader.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.ContentArea("~/Content/css/fileuploader.css")"/>
    <script type="text/javascript" src="@Url.ContentArea("~/Content/ckeditor/ckeditor.js")" ></script>
</head>
<body>
<div class="errorPage">
    <p class="name">
        403</p>
    <p class="description">
        Forbidden</p>
    <p>
        <button class="btn btn-danger" onclick="document.location.href = 'Management';">
            Back to main</button>
        <button class="btn btn-warning" onclick="history.back();">
            Previous page</button></p>
</div>
</body>
</html>


