@{
    Layout = null;
}
@model CMSApplication.Models.LogOnModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Logon - Real Estate Media</title>
    <link href="@Url.Content("~/Content/css/stylesheets.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/login.css")" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/uniform.default.css" rel="stylesheet" />
</head>
<body>
    <div class="loginBox">
        <div class="loginHead">
            <img src="@Url.Content("~/Content/img/logo_2.png")" />
            
        </div>
        @using (Html.BeginForm("LogOn", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {   
            <div class="control-group">
                <link href="../../Content/css/uniform.default.css" rel="stylesheet" />
                <label for="inputEmail">
                    User name</label>
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "UserName", @class = "inputEmail" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="control-group">
                <label for="inputEmail">
                    Password</label>
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "inputPassword" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
             <div class="control-group" style="margin-bottom: 5px;">
               <span style="color:red">@ViewBag.NotActiveErr</span>
            </div>
            <div class="control-group" style="margin-bottom: 5px;">
                <label>@Html.CheckBoxFor(m => m.RememberMe) Remember me</label><br />
            </div>
            <div class="control-group" style="text-align:right">
                <label><a href="@Url.Action("Register", "Home")" style="text-decoration:underline">Register</a></label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><a href="@Url.Action("ForgotPassword", "Home")" style="text-decoration:underline">Forgot password</a></label>
            </div>
            <div class="form-actions">
            <input type="submit" value="Sign in" class="btn" />
            </div>
            
        }
    </div>
</body>
</html>

