@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

@model CMSApplication.Areas.Administration.Models.OrderModels
<script type="text/javascript">
    $(document).ready(function () {
        /////// Add Multiplte
        var max_input = 11;
        var now_input = 0;
        jQuery("#addfile").click(function () {
            now_input++;
            if (now_input >= max_input)
                return false;
            //add file
            var input = document.createElement("input");
            input.type = "file";
            input.name = "FileUp";

            //---
            jQuery('#upload_list').append(input);
            jQuery('#upload_list').find("input:file").not(".skip").uniform();
        });
        //////////End 
    });

</script>

<div class="row-fluid">
    <div class="span8">
        <div class="head">
            <div class="isw-brush"></div>
            <h1>Order detail</h1>
            <ul class="buttons">
                <li><a href="@Url.Action("Edit", "OrderManagement", new { id = Model.Id })" class="isw-edit"></a><//li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="block">
            <h3>@Model.Title</h3>
            <p>@Model.OrderDate</p>
            <p><strong>Order by: </strong>@Model.OrderByName</p>
            <p><strong>Address: </strong><a href="http://maps.google.com/maps?output=csv&oe=utf8&sensor=false&q=@Model.Address" target="_blank">@Model.Address</a></p>
            <p><strong>Status: </strong>@Model.Status</p>
            <p><strong>Size: </strong>@Model.Size</p>
            <p><strong>Quantity: </strong>@Model.Quantity</p>
            <p><strong>Type: </strong>@Model.Type</p>
            <p><strong>Service Type: </strong>@Model.ServiceType</p>
            <p><strong>Parties Email Address: </strong>@Model.Parties</p>
            <p><strong>Parties Information: </strong>@Model.PartiesInformation</p>
            <p><strong>Banner size: </strong>@Model.BannerSize</p>
            <p>@Html.Raw(Model.Description)</p>
        </div>
              
    </div>

    <div class="span4">
        <div class="row-fluid">
        <div class="span12">
            
        <div class="head">
            <div class="isw-list"></div>
            <h1>Progress</h1>
            <div class="clear"></div>
        </div>
        <div class="block-fluid">
            @using (Html.BeginForm("UpdateInProgress", "OrderManagement"))
            {
                 @Html.HiddenFor(c => c.Title)
                        @Html.HiddenFor(c => c.Id)
                        @Html.HiddenFor(c => c.OrderById)
                        @Html.HiddenFor(c => c.OrderByName)
                        @Html.HiddenFor(c => c.Parties)
                        @Html.HiddenFor(c => c.LatLng)
                        @Html.HiddenFor(c => c.Address)               
                <input type="hidden" name="OrderPercent" id="order-percent" value="@Model.OrderPercent" />
               @* <div class="row-form">
                    <div class="span3">
                        Percent:
                    </div>
                    <div class="span9">
                       
                        <input type="hidden" name="OrderPercent" id="order-percent" value=""/>
                       @* <div class="amount" id="slider_1_amount" order-percent="@Model.OrderPercent">@Model.OrderPercent %</div>
                                <div id="slider_1"></div>   
                    </div>

                    <div class="clear"></div>
                </div> *@
                <div class="row-form">
                    <div class="span3">
                        Status:
                    </div>
                    <div class="span9">
                        @Html.DropDownListFor(c => c.Status, Model.StatusSelectList)
                    </div>
                    <div class="clear"></div>
                </div>    
                                                  
                <div class="row-form">
                    <div class="span3">Staff: </div>
                    <div class="span9">
                        @*@Html.DropDownListFor(c => c.StaffID, Model.StaffSelectList, new { @class = "chzn-select", @multiple = "multiple" })*@
                        
                        <select class="chzn-select" multiple="multiple" name="StaffID">
                            @foreach (var item in Model.StaffSelectList)
                            { 
                                if(item.Selected)
                                {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }else{
                                <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="clear"></div>
                </div>   
                
                
                <div class="row-form">
                    <div class="span12">
                        <button class="btn" type="submit">Update</button>
                    </div>
                    <div class="clear"></div>
                </div>   
            }
        </div>
        </div>
            </div>
        <div class="dr"><span></span></div>
        <div class="row-fluid">
        <div class="span12">
            <div class="head">
            <div class="isw-pin"></div>
            <h1>Map</h1>
            <div class="clear"></div>
        </div>
        <div class="block-fluid">
            <div class="row-form">

                        <div id="map_canvas" style="height:250px;width:100%"></div>
                 
                </div>
            </div>

</div>
            </div>

    </div>
</div>
<div class="dr"><span></span></div>
<div class="row-fluid">

    <div class="span12">
        <div class="head">
            <div class="isw-chats"></div>
            <h1>Comment</h1>
            <ul class="buttons">
            </ul>
            <div class="clear"></div>
        </div>
        <div class="block messaging">
            @if (ViewBag.CommentFileList != null)
            {
                foreach (var item in ViewBag.CommentFileList)
                {
                    if (Model.OrderById.Equals(item.UserID))
                    {                                   
                <div class="itemOut">
                    <a href="#" class="image">
                        <img width="50" height="50" src="@Url.Content("~/Content/File/Remsigns/" + item.UserImage)" class="img-polaroid" /></a>
                    <div class="text">
                        <div class="info">
                            <span class="name">@item.UserName</span>
                            <span class="date">@item.CreatedDate</span>
                            <div class="clear"></div>
                        </div>
                        @if (!string.IsNullOrEmpty(item.FileUrl))
                        {
                            <i class="icon-file"></i>
                            <span>Upload a file</span>
                          if(item.IsImage == true)
                            {
                           <a href="@Url.Content("~/" + item.FileUrl)" class="fancybox">@item.Contents</a><br /><span style="font-style:italic">@item.Note</span>
                        }else
                        {
                            <a href="@Url.Content("~/" + item.FileUrl)">@item.Contents</a><br /><span style="font-style:italic">@item.Note</span>
                            }
                            
                            <a style="float:right" href="@Url.Action("DeleteFile", "OrderManagement", new { id = item.Id, orderID = Model.Id })"><span class="icon-remove"></span></a><br />
                        }
                        else
                        {
                            @item.Contents
                            <a style="float:right" href="@Url.Action("DeleteComment", "OrderManagement", new { id = item.Id, orderID = Model.Id })"><span class="icon-remove"></span></a><br />
                        }
                        
                    </div>
                </div>
                    }
                    else
                    {
                <div class="itemIn">
                    <a href="#" class="image">
                        <img width="50" height="50" src="@Url.Content("~/Content/File/Remsigns/" + item.UserImage)" class="img-polaroid" /></a>
                    <div class="text">
                        <div class="info">
                            <span class="name">@item.UserName</span>
                            <span class="date">@item.CreatedDate</span>
                            <div class="clear"></div>
                        </div>
                        @if (!string.IsNullOrEmpty(item.FileUrl))
                        {
                            <i class="icon-file"></i>
                            <span>Upload </span>
                            if(item.IsImage == true)
                            {
                           <a href="@Url.Content("~/" + item.FileUrl)" class="fancybox">@item.Contents</a><br /><span style="font-style:italic">@item.Note</span>
                        }else
                        {
                            <a href="@Url.Content("~/" + item.FileUrl)">@item.Contents</a><br /><span style="font-style:italic">@item.Note</span>
                            }
                            <a style="float:right" href="@Url.Action("DeleteFile", "OrderManagement", new { id = item.Id, orderID = Model.Id })"><span class="icon-remove"></span></a><br />
                        }
                        else
                        {
                            @item.Contents
                            <a style="float:right" href="@Url.Action("DeleteComment", "OrderManagement", new { id = item.Id, orderID = Model.Id })"><span class="icon-remove"></span></a><br />
                        }
                        
                    </div>
                </div>
                    }
                }
            }
            <div class="controls">
                @using (Html.BeginForm("SendComment", "OrderManagement", FormMethod.Post))
                {
                    <input type="hidden" name="OrderId" value="@Model.Id" />
                    <div class="control">
                        <textarea name="Contents" placeholder="Your message..." style="height: 70px; width: 100%;"></textarea>
                    </div>
                    <button type="button" id="popup_4" class="btn">Upload Files</button>
                    <button type="submit" class="btn">Send message</button>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".chzn-select").chosen();
        $(".chzn-select-deselect").chosen({ allow_single_deselect: false });
        $(".chzn-select").change(function () {
        });

        //$(".chzn-select option").attr("selected", true);s

        $("#b_popup_4").dialog({
            autoOpen: false,
            modal: true,
            width: 400,
            buttons: {
                "Ok": function () {
                    $("#form-upload").submit();
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#popup_4").click(function () { $("#b_popup_4").dialog('open') });


        $("#slider_1").slider({
            value: $("#slider_1_amount").attr("order-percent"),
            orientation: "horizontal",
            range: "min",
            animate: true,
            slide: function (event, ui) {
                $("#slider_1_amount").html(ui.value+"%");
                $("#order-percent").val(ui.value);
            }
        });

    })


</script>


<div class="dialog" id="b_popup_4" style="display: none;" title="Upload files">    
     @using (Html.BeginForm("UploadFile", "OrderManagement", FormMethod.Post, new { @id = "form-upload", enctype = "multipart/form-data" }))
     {                            
        <div class="block">
            <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="Title" value="@Model.Title" />
                    <input type="hidden" name="OrderById" value="@Model.OrderById" />
                    <input type="hidden" name="OrderByName" value="@Model.OrderByName" />
            <span>Add Files to upload:<a id="addfile" href="javascript:void(0)">
                            <img src="/Areas/Administration/Content/img/add.png" alt="add file" /></a></span>
            <p id="upload_list">                    
            </p>
            <p>
                <textarea rows="2" name="fileNote" placeholder="Description"></textarea>
            </p>
        </div>
        }
    </div>

<div class="dialog" id="b_popup_2" style="display: none;" title="View File">
        <p style="text-align:center" class="file-show"></p>                
    </div> 



<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDq7skUApJ5P6nmEtamguXV6neqigI4JLk&amp;sensor=false&amp;language=en"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script> 
<script type="text/javascript">
    var map;
    var _latlng;
    var openmap = 0;
    var _address;
    var _markerArr = []; var geocoder;
    function initialize(val, _add) {
        openmap++;
        var _flat = false;
        var _defaultLatLng = new google.maps.LatLng(31.287993235583038, -92.44133689116097);
        if (val == undefined || val == 'undefined' || val == '') { } else {
            var _arr = val.split(',');
            _defaultLatLng = new google.maps.LatLng(_arr[0], _arr[1]);
            _flat = true;
        }
        var mapOptions = {
            zoom: 15,
            center: _defaultLatLng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        };
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        google.maps.event.addListener(map, 'click', function (e) {
            placeMarker(e.latLng, map);
        });
        if (_flat == true) {
            placeMarker(_defaultLatLng, map);
        }
    }

    function placeMarker(position, map) {
        ////// For Geo Code
        ////// For Geo Code
        for (var i = 0; i < _markerArr.length; i++) {
            _markerArr[i].setMap(null);
        }
        _markerArr = [];
        var marker = new google.maps.Marker({
            position: position,
            map: map
        });
        _markerArr.push(marker);
        map.panTo(position);
        _latlng = position;
    }

    $(document).ready(function () {
        var _LatLon1 = document.getElementById("LatLng").value;
        var _add1 = document.getElementById("Address").value;
        if (openmap == 0) {
            if (_LatLon1 == undefined || _LatLon1 == 'undefined' || _LatLon1 == '' || _LatLon1 == null) {
                initialize();
            }
            else {
                initialize(_LatLon1, _add1);
            }
        }
    })
</script>





        


